ul,
a {
    text-decoration: none;
    list-style: none;
}

/* header{} */

.container {
    max-width: 1487px;
    margin: 0 auto;
    padding: 0 16px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

/* .silka__logo{} */

.logo {
    width: 160px;
    height: 41px;
}

.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

/* .header__item{} */

.item__silka {
    color: rgb(31, 21, 52);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    opacity: 0.5;
}

.active {
    font-weight: 700;
    opacity: 1;
}

/* header */

.hero__contaiiner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 113px;
}

.hero__info {
    max-width: 445px;
    margin-right: 119px;
}

.hero__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.hero__text {
    color: rgb(125, 121, 135);
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
}

.btn {
    box-sizing: border-box;
    border: 1.4px solid rgb(69, 143, 246);
    border-radius: 55px;
    background: transparent;
}

.hero__btn {
    border-radius: 55px;
    background: rgb(69, 143, 246);
}

.hero__btn__text {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding: 0 40px;
}

.hero__photo {
    width: 693px;
    height: 598px;
}

/* hero */

/* .servise__container{} */

.servise__info {
    max-width: 952px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 80px;
}

.servise__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

.servise__layn {
    width: 56px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    border: 2px solid black;
}

.servise__text {
    color: rgb(125, 121, 135);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 33px;
}

.servise__list {
    max-width: 1220px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 69px;
}

.servise__item {
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background: rgb(255, 255, 255);
}

.box-1 {
    max-width: 266px;
    padding: 54px 45px 46px 37px;
}

.item__photo {
    width: 92px;
    height: 90px;
}

.item__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    padding: 0;
}

.item__text {
    color: rgb(125, 121, 135);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.servise__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 220px;
}

.servise__btn__text {
    display: flex;
    align-items: center;
    color: rgb(69, 143, 246);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    padding: 0 51px;
    gap: 15px;
}

/* servise */

.information__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.information {
    max-width: 486px;
}

.information__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
}

.information__lyan {
    width: 56px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    margin: 0;
    margin-bottom: 31px;
}

.information__text {
    color: rgb(125, 121, 135);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.infomation__photo {
    width: 650px;
    height: 477px;
    margin-bottom: 229px;
}

/* information */

.information__dowland {
    max-width: 420px;
}

.dowland__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.dowland__text {
    color: rgb(125, 121, 135);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.bef::after {
    width: 15px;
    height: 15px;
    display: block;
    content: '';
    background-image: url('../img/strelka__bottom.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dowland__photo {
    width: 665px;
    height: 434px;
}

/* dowland */

.human__container {
    margin-top: 266px;
}

.human {
    max-width: 1120px;
    border-radius: 24px;
    background: linear-gradient(222.85deg, rgb(103, 195, 243) 10.315%, rgb(90, 152, 242) 75.633%);
    margin: 0 auto;
    margin-bottom: 42px;
    padding: 64px 118px 84px 118px;
}

.human__title {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.human__layn {
    border-radius: 6px;
    background: rgb(255, 255, 255);
    width: 56px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
}

.human__box-1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.human__box-2 {
    max-width: 184px;
    margin-right: 110px;
}

.edvard__photo {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    margin-right: 29px;
}

.edvard__title {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.edvard__text {
    color: rgba(255, 255, 255, 0.85);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.box-2__text {
    max-width: 420px;
    color: rgba(255, 255, 255, 0.9);
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.human__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin: 0;
    margin-bottom: 222px;
    padding: 0;
}

.item__btn {
    width: 10;
    height: 10px;
    border: transparent;
    background: rgb(91, 155, 243);
    opacity: 0.3;
    border-radius: 50%;
}

.activ {
    opacity: 1;
}

.human__btn {
    border: transparent;
    background: transparent;
}

.left {
    margin-right: 92px;
}

.human__btn {
    margin-left: 92px;
}

/* human */

/* .uslugi__container{} */

/* .uslugi{} */

.uslugi__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}

.mar{
    margin-bottom: 72px;
}

.uslugi__list{
    max-width: 1050px;
    display: flex;
    align-items: center;
    gap: 34px;
    margin: 0 auto;
    margin-bottom: 69px;
}

.uslugi__item {
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background: rgb(255, 255, 255);
}

.uslugi__photo {
    width: 369px;
    height: 246px;
    margin-bottom: 21px;
}

.item__box-1 {
    max-width: 266px;
}

.box__title {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

.box__text {
    color: rgb(125, 121, 135);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.box__silka {
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(64, 137, 237);
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
}

.box__silka::after{
    width: 15px;
    height: 10px;
    display: block;
    content: '';
    background-image:url('../img/strelka__right.svg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pasition{
    display: block;
    margin: 0 auto;
}